.snakemake/
data*/
results/
results_backup_M/
results_backup_M_*/
resources_backup_M_*/
results_backup_T/
results_backup_N/
new_results_bkp_10txids/
resources/
logs/
logs_bkup/
.Rhistory
.RData
snakemake_*.out
github_tokens
convertiontable*
logs_NTM*/
results_NTM*/
diagnostics/

